{% if ansible_host is not defined or ansible_host == 'localhost' %}
{% set ssh_host = inventory_hostname %}
{% else %}
{% set ssh_host = ansible_host %}
{% endif %}
{% if ansible_private_key_file is defined %}
{% set ssh_key_arg = " -i " + ansible_private_key_file + " " %}
{% else %}
{% set ssh_key_arg = "" %}
{% endif %}

Host virthost
    IdentityFile {{ local_working_dir }}/id_rsa_virt_host
    User {{ rhhi_user }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

